In [1]:
n=int(input('enter the number'))
if n<0:
    print('the number is negative')
elif n>0:
    print('the number is positive')
else:
    print('equal to zero')

enter the number6
the number is positive

In [2]:
x=int(input('enter the 1st number'))
y=int(input('enter the 2nd number'))
t=x
x=y
y=t
print(x)
print(y)

enter the 1st number4
enter the 2nd number5
5
4

In [6]:
x=int(input('enter the 1st number'))
y=int(input('enter the 2nd number'))
x,y=y,x
print(x)
print(y)

enter the 1st number2
enter the 2nd number3
3
2

In [13]:
principle_amount=int(input('enter principle amount'))
rate=int(input('enter rate'))
time=int(input('enter time'))
si=principle_amount*rate*time/100
print(si)

enter principle amount200
enter rate10
enter time2
40.0

In [3]:
i=1
while(i<6):
    print(i)
    if i==3:
        break
    i=i+1

1
2
3

In [15]:
i=0
while(i<6):
    i=i+1
    if i==3:
        continue
    print(i)
else:
    print('i is greater than 6')

1
2
4
5
6
i is greater than 6

In [16]:
L1=[1,2,3,4,5]
for i in L1:
    print(i)

1
2
3
4
5

In [17]:
L2=['a','b','c','d']
for i in L2:
    print(i)

a
b
c
d

In [18]:
for i in 'apple':
    print(i)

a
p
p
l
e

In [1]:
cars=['ford','audi','maruti']
for i in cars:
    print(i)

ford
audi
maruti

In [2]:
cars=['ford','audi','maruti']
for i in cars:
    if(i=='audi'):
        break
    print(i)

ford

In [3]:
cars=['ford','audi','maruti']
for i in cars:
    print(i)
    if(i=='audi'):
        break

ford
audi

In [4]:
cars=['ford','audi','maruti']
for i in cars:
    print(i)
    if(i=='audi'):
        continue

ford
audi
maruti

In [5]:
cars=['ford','audi','maruti']
for i in cars:
    if(i=='audi'):
        continue
    print(i)

ford
maruti

In [6]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [7]:
for i in range(2,6):
    print(i)

2
3
4
5

In [8]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [9]:
for i in range(10):
    print(i)
else:
    print("finally finished")

0
1
2
3
4
5
6
7
8
9
finally finished

In [12]:
for i in range(6):
    if i==3:
        break
    print(i)
else:
    print("finally finished!")

0
1
2

In [13]:
for i in range(6,100,2):
    if i==12:
        break
    print(i)
else:
    print("finally finished!")

6
8
10

In [14]:
for i in range(6,100,2):
    if i==12:
        break
    print(i)
else:
    print("finally finished!")

6
8
10

In [15]:
for i in range(6,100,2):
    if i==12:
        continue
    print(i)
else:
    print("finally finished!")

6
8
10
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
finally finished!

In [ ]:
n=int(input("enter the natural number:"))
i=1
sum=0
while i**2:
    sum=sum+i**2
    i=i+1
    print(n)

In [ ]:
n=int(input("enter the natural number:"))
i=1
sum=0
while i<n:
    sum=sum+i**2
    i=i+1
    print(i)

In [4]:
n=int(input("enter the natural number:"))
i=1
sum=0
while (i<=n):
    sum=sum+i**2
    i=i+1
print(sum)

enter the natural number:5
55

In [2]:
print(" hello jupyter " *5)

 hello jupyter  hello jupyter  hello jupyter  hello jupyter  hello jupyter

In [3]:
def my_function():
    print(" hello AAFT ")

In [5]:
my_function()

 hello AAFT

In [6]:
#defining & calling function with parameter

def add(n1:int,n2:int):
    n3=n1+n2
    return n3
n1=1
n2=2
add(n1,n2)

3

In [7]:
def add(n1:int,n2:int):
    n3=n1+n2
    return n3
n1=1
n2=2
add(n1,n2)
result=add(n1,n2)
print("addition value is :",result)

addition value is : 3

In [9]:
def nature_of_z():
    n = int(input("enter the value"))
    if n%2==0:
        print("given value is even")
    else:
        print("given number is odd")
nature_of_z()

enter the value7
given number is odd

In [9]:
n = int(input("enter the value"))
i=1
count=0
while(i<=n):
    if (n%i==0):
        count=count+1
    i=i+1
if(count==2):
        print("provided number is prime")
else:
    print("provided number is not prime")

enter the value6
provided number is not prime

In [12]:
#armstrong no.

n=int(input("enter the number"))
x=i
sum=0
while(i<0):
    sum=sum+(i%10)*(i%10)*(i%10)
    i=i//10
if(x==sum):
    print("number is armstrong")
else:
    print("number is not armstrong")

enter the number153
number is not armstrong

In [1]:
i=int(input("enter the number"))
rev=0
while (i>0):
    rev=(rev*10)+i%10
    i=i//10
print("reverse of number=",rev)

enter the number123
reverse of number= 321

In [3]:
i=int(input("enter the number"))
x=i
rev=0
while (i>0):
    rev=(rev*10)+i%10
    i=i//10
if(x==rev):
    print("the number is palindrome")
else:
    print("the number is not palindrome")

enter the number342
the number is not palindrome

In [5]:
a=int(input("enter the no."))
i=1
fact=1
while i<=a:
    fact=fact*i
    i=i+1
print(fact)

enter the no.5
120